In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame

In [23]:
df = pd.read_csv('000020-1.csv',index_col=0)

In [24]:
df.head()

            Close   Open   High    Low  Volume  Code  Up&Down      Rate
Date
2005-04-27  11250  10750  11500  10650   31610    20        0  0.000000
2005-04-28  11050  11200  11450  10950   12670    20     -200 -1.777778
2005-04-29  10900  10550  10950  10550   15280    20     -150 -1.357466
2005-05-02  11200  10900  11300  10750   71860    20      300  2.752294
2005-05-03  11700  11450  12150  11400  150848    20      500  4.464286

In [25]:
df.columns[0]

'Close'

In [28]:
df.head(0)

Empty DataFrame
Columns: [Close, Open, High, Low, Volume, Code, Up&Down, Rate]
Index: []

In [27]:
df['Close'].head(2)

Date
2005-04-27    11250
2005-04-28    11050
Name: Close, dtype: int64

In [30]:
df['Open'].count()

3025

In [34]:
only_up = df.where(df['Up&Down'] >0)

In [36]:
only_up.head['Close'].count()

TypeError: 'method' object is not subscriptable