In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('olympics.csv')

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [4]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15'],
      dtype='object')

In [8]:
df = pd.read_csv('olympics.csv', index_col =0, skiprows=1)

In [9]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [10]:
for col in df.columns:
    if col[:2] == '01':
        df.rename(columns = {col:'Gold'+col[4:]}, inplace = True)
    if col[:2] == '02':
        df.rename(columns = {col:'Silver'+col[4:]}, inplace = True)
    if col[:2] == '03':
        df.rename(columns = {col:'Bronze'+col[4:]}, inplace = True)
    if col[:1] == '№':
        df.rename(columns = {col:'#'+col[4:]}, inplace = True)

In [11]:
df.head()

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [12]:
df.index[0]

'Afghanistan\xa0(AFG)'

In [13]:
only_gold = df.where(df['Gold'] > 0)

In [14]:
only_gold.head()

,#mmer,Gold,Silver,Bronze,Total,#nter,Gold.1,Silver.1,Bronze.1,Total.1,#mes,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [15]:
only_gold['Gold'].count()

100