In [1]:
import pandas as pd

In [41]:
df = pd.read_csv('000050.csv')

In [42]:
df.columns[-1]

'Rate'

In [43]:
df.columns[0]

'Date'

In [44]:
df.head(0)

Empty DataFrame
Columns: [Date, Close, Open, High, Low, Volume, Code, Company, Up&Down, Rate]
Index: []

In [45]:
df['Close'].head()

0    62000
1    61300
2    63100
3    62800
4    61600
Name: Close, dtype: int64

In [46]:
df['Date'].unique()

array(['2005-04-27', '2005-04-28', '2005-04-29', ..., '2017-07-04',
       '2017-07-05', '2017-07-06'], dtype=object)